@font-face {
    font-family: coolfont;
    src: url('JosefinSans-VariableFont_wght.ttf');
}

body {
    font-family: coolfont;
}

.search_number {
    display: inline;
}

.same_line {
    display: inline-block;
}

section {
    display: inline;
}

h3, p {
    display:inline;
}