{% extends "layout.html" %}
{% block content %}
<h2>Favourites</h2>
<br>
{% if game_info %}
{% if page < max_pages %} <p><a href="/change_page/{{page + 1}}/1">NEXT</a></p> {% endif %}
{% if page > 1 %} <p><a href="/change_page/{{page - 1}}/1">PREVIOUS</a></p> {% endif %}
<form method="POST">
    {{ page_form.hidden_tag() }}
    {{ page_form.csrf_token }}
    {{ page_form.page_num }} <p>{{page}} / {{max_pages}}</p>
    {{ page_form.submit.label }}
    <input type="submit" name="page_change">
</form>
<hr>
{% endif %}
{% if game_info %}
    {% for game in game_info %}
    <div class="games" hx-get="/favourite_image/{{current_user.username}}/{{game.game_id}}/0" hx-target="#favourite_{{game.game_id}}" hx-swap="outerHTML" hx-trigger="load">
        <h3><a href="/game/{{game.game_id}}">{{game.name}}</h3>
        <img src="{{game.header_image}}" loading=lazy></a>
        <div id="favourite_{{game.game_id}}">
        </div>
    </div>
    {% endfor %}
{% else %}
<p><b>No favourites!</b> (Go to <a href="/clear_search/0">GAMES</a> to choose favourites!)</p>
{% endif %}
{% endblock %}