{% extends "layout.html" %}
{% block content %}
<h2>SEARCH - </h2><form method="get" action="/search/1" class="search_number">
    <input type="text" name="search_text" placeholder="Type something :)" min="1" max="100">
    <label for="sort_style">Sort by - </label>
    <select name="sort_style">
        <option value="name" {% if sort_style == 'name' %}selected{% endif %}>Alphabetically</option>
        <option value="playtime" {% if sort_style == 'playtime' %}selected{% endif %}>Popularity</option>
    </select>
    <select name="sort_asc">
        <option value="ASC" {% if sort_asc == 'ASC' %}selected{% endif %}>Ascending</option>
        <option value="DESC" {% if sort_asc == 'DESC' %}selected{% endif %}>Descending</option>
    </select>
</form></h2>
<hr>
{% if page != 1 and page != 0 %}
<p><a href="/games/{{page-1}}/{{sort_style}}/{{sort_asc}}">PREVIOUS</a>{% endif %} {% if page != max_pages %}<a href="/games/{{page+1}}/{{sort_style}}/{{sort_asc}}">NEXT</a>{% endif %}</p>
<p><form method="get" action="/number_game/{{sort_style}}/{{sort_asc}}" class="search_number"><input type="number" name="page_num" placeholder="{{page}}" min="1" max="{{max_pages}}"></form> / {{max_pages}}</p>
<hr>
{% for game in game_info %}
<div class="games">
    <h3><a href="/game/{{game[0]}}"><u><b>{{game[1]}}</b></u></a></h3>
    <img src="{{game[2]}}" loading=lazy>
    <hr>
</div>
{% endfor %}
{% if page != 1 and page != 0 %}
<p><a href="/games/{{page-1}}/{{sort_style}}/{{sort_asc}}">PREVIOUS</a>{% endif %} {% if page != max_pages %}<a href="/games/{{page+1}}/{{sort_style}}/{{sort_asc}}">NEXT</a>{% endif %}</p>
<p><form method="get" action="/number_game/{{sort_style}}/{{sort_asc}}" class="search_number"><input type="number" name="page_num" placeholder="{{page}}" min="1" max="{{max_pages}}"></form> / {{max_pages}}</p>
{% endblock %}