{% extends "layout.html" %}
{% block content %}
<p><form method="get" action="/number_search" class="search_number"><input type="number" name="page_num" placeholder="{{page}}" min="1" max="{{max_pages}}"></form> / {{max_pages}}</p>
{% if page != 1 %}
<p><a href="/games/{{page-1}}">PREVIOUS</a>{% endif %} <a href="/games/{{page+1}}">NEXT</a></p>
<div class="games">
{% for game in game_info %}
<p>{{game}}</p>
<img src="{{game[5]}}" loading=lazy>
<hr>
{% endfor %}
</div>
{% if page != 1 %}
<p><a href="/games/{{page-1}}">PREVIOUS</a>{% endif %} {% if page != max_pages %}<a href="/games/{{page+1}}">NEXT</a>{% endif %}</p>
<p>{{page}} / {{max_pages}}</p>
{% endblock %}