{% extends "layout.html" %}
{% block content %}
<div class="text_center">
    <h3 class="same_line"><b>~*~&nbsp;</b></h3>
    <h1 class="same_line"><u>Login</u></h1>
    <h3 class="same_line"><b>&nbsp;~*~</b></h3>
    <h5>(No special characters / spaces in username)</h5>
</div>
<br>
{% with error_message = get_flashed_messages() %}
{% if error_message %}
<div class="text_center">
    <p>{{error_message[0]}}</p>
    <br>
</div>
{% endif %}
{% endwith %}
<form method="POST">
    <div class="login_box">
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        <input type="text" name="username" class="larger_text" maxlength="20" pattern="^[A-Za-z0-9]{1,25}$" title="Don't use special characters!" required>
        <br>
        <br>
        <label for="password">Password : </label>
        <input type="password" name="password" class="larger_text" maxlength="20" pattern=".{6,}" title="6 or more characters!" required>
        <br>
        <br>
    </div>
    <input type="submit" class="submit_button">
</form>
{% endblock %}