{% extends "layout.html" %}
{% block content %}
<div class="text_center">
    <h3 class="same_line"><b>~*~&nbsp;</b></h3>
    <h1 class="same_line"><u>Login</u></h1>
    <h3 class="same_line"><b>&nbsp;~*~</b></h3>
</div>
<br>
<form action="/login_process" class="text_center">
    <label for="username">Username : </label>
    <input type="text" name="username">
    <br>
    <br>
    <label for="password">Password : </label>
    <input type="text" name="password">
    <br>
    <br>
    <input type="submit">
</form>
{% endblock %}