{% extends "layout.html" %}
{% block content %}
<div class="text_center">
    <h3 class="same_line"><b>~*~&nbsp;</b></h3>
    <h1 class="same_line"><u>Login</u></h1>
    <h3 class="same_line"><b>&nbsp;~*~</b></h3>
</div>
<br>
<form action="/login_process">
    <div class="login_box">
        <label for="username">Username : </label>
        <input type="text" name="username" class="larger_text">
        <br>
        <br>
        <label for="password">Password : </label>
        <input type="text" name="password" class="larger_text">
        <br>
        <br>
    </div>
    <input type="submit" class="submit_button">
</form>
{% endblock %}