<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigatory Navigator (Alligator)</title>
</head>
<body>
    <hr>
    <div>
        <p><a href="/">HOME</a> | <a href="/clear_search/0">GAMES</a> || {% if current_user.is_authenticated %}<a href="/clear_search/1">FAVOURITES</a> | <a href="/logout">LOGOUT</a> || Welcome, {{current_user.username}}!{% else %}<a href="/login">LOGIN</a> | <a href="/signup">SIGN UP</a> ||{% endif %}</p> 
    </div>
    <hr>
</body>
</html>