{% extends "layout.html" %}
{% block content %}
<h2><u>SEARCH</u> - <form method="get" action="/search/1" class="search_number"><input type="text" name="search_text" placeholder="Type something :)" min="1" max="100"></form></h2>
<hr>
{% if page != 1 and page != 0 %}
<p><a href="/search/{{page-1}}/{{search_text}}">PREVIOUS</a>{% endif %} {% if page != max_pages %}<a href="/search/{{page+1}}/{{search_text}}">NEXT</a>{% endif %}</p>
<p><form method="get" action="/number_search/{{search_text}}" class="search_number"><input type="number" name="page_num" placeholder="{{page}}" min="1" max="{{max_pages}}"></form> / {{max_pages}}</p>
<hr>
{% for game in game_info %}
<div class="games">
    <h3><u><b>{{game[1]}}</b></u></h3>
    <h4>Release Date - <i>{{game[2]}}</i></p></h4>
    <h4>Price - <i>{{game[3]}}</i></p></h4>
    {% if game[6] %}
    <p><b>Genres:</b></p>
    {% for genre in game[6] %}
    <p>{{genre}}</p>
    {% endfor %}
    {% endif %}
    <p><b>Synopsis:</b></p>
    <p>{{game[4]}}</p>
    <img src="{{game[5]}}" loading=lazy>
    <hr>
</div>
{% endfor %}
{% if page != 1 and page != 0 %}
<p><a href="/search/{{page-1}}/{{search_text}}">PREVIOUS</a>{% endif %} {% if page != max_pages %}<a href="/search/{{page+1}}/{{search_text}}">NEXT</a>{% endif %}</p>
<p><form method="get" action="/number_search/{{search_text}}" class="search_number"><input type="number" name="page_num" placeholder="{{page}}" min="1" max="{{max_pages}}"></form> / {{max_pages}}</p>
{% endblock %}