{% extends "layout.html" %}
{% block content %}
<h2>Search</h2>
<br>
{% if game_info %}
{% if page < max_pages %} <p><a href="/change_page/{{page + 1}}">NEXT</a></p> {% endif %}
{% if page > 1 %} <p><a href="/change_page/{{page - 1}}">PREVIOUS</a></p> {% endif %}
{% endif %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.sort_form.sort_style }}
    {{ form.sort_form.sort_asc }}
    <br>
    {{ form.sort_form.search_query }}
    <br>
    <br>
    <div>
        {{ form.gen_form.genres }}
    </div>
    <div>
        {{ form.gen_form.categories }}
    </div>
    <br>
    <input type="submit" name="combined">
</form>
<form method="POST">
    {{ page_form.hidden_tag() }}
    {{ page_form.csrf_token }}
    {{ page_form.genres }}
    {{ page_form.categories }}
    {{ page_form.page_num }} <p>{{page}} / {{max_pages}}</p>
    {{ page_form.submit.label }}
    <input type="submit" name="page_change">
</form>
<hr>
{% if game_info %}
    {% for game in game_info %}
    <div class="games">
        <h3><a href="/game/{{game[0]}}">{{game[1]}}</h3>
        <img src="{{game[2]}}" loading=lazy></a>
    </div>
    {% endfor %}
{% else %}
<p><b>No search results!</b> (Try searching for something else)</p>
{% endif %}
{% endblock %}