{% extends "layout.html" %}
{% block content %}
<h2>Search - <form method="get" action="/search/1" class="search_number">
    <input type="text" name="search_text" placeholder="Type something :)" min="1" max="100">
    <br>
    <br>
    <h5 class="same_line">Sort by : </h5>
    <select name="sort_style">
        <option value="name" {% if sort_style == 'name' %}selected{% endif %}>Alphabetically</option>
        <option value="playtime" {% if sort_style == 'playtime' %}selected{% endif %}>Popularity</option>
    </select>
    <select name="sort_asc">
        <option value="ASC" {% if sort_asc == 'ASC' %}selected{% endif %}>Ascending</option>
        <option value="DESC" {% if sort_asc == 'DESC' %}selected{% endif %}>Descending</option>
    </select>
    <fieldset>
        <legend>Genres: </legend>
            {% for genre in genres %}
            <label for="{{genre.genre_name}}">{{genre.genre_name}}</label>
            <input type="checkbox" name="{{genre.genre_name}}" value="{{genre.genre_id}}">
            {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Tags: </legend>
            {% for tag in tags %}
            <label for="{{tag.tag_name}}">{{tag.tag_name}}</label>
            <input type="checkbox" name="{{tag.tag_name}}" value="{{tag.tag_id}}">
            {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Categories: </legend>
            {% for category in categories %}
            <label for="{{category.category_name}}">{{category.category_name}}</label>
            <input type="checkbox" name="{{category.category_name}}" value="{{category.category_id}}">
            {% endfor %}
    </fieldset>
    
    
</form></h2>
<hr>
{% if max_pages != 0 %}
{% if page != 1 and page != 0 %}
<p><a href="/search/{{page-1}}/{{search_text}}/{{sort_style}}/{{sort_asc}}">PREVIOUS</a>{% endif %} {% if page != max_pages %}<a href="/search/{{page+1}}/{{search_text}}/{{sort_style}}/{{sort_asc}}">NEXT</a>{% endif %}</p>
<p><form method="get" action="/number_search/{{search_text}}/{{sort_style}}/{{sort_asc}}" class="search_number"><input type="number" name="page_num" placeholder="{{page}}" min="1" max="{{max_pages}}"></form> / {{max_pages}}</p>
<hr>
{% endif %}
{% if game_info != None %}
    {% for game in game_info %}
    <div class="games">
        <h3><a href="/game/{{game[0]}}">{{game[1]}}</h3>
        <img src="{{game[2]}}" loading=lazy></a>
    </div>
    {% endfor %}
    <hr>
{% else %}
    <h4><u>No search results!</u></h4>
    <p>(Try searching again!)</p>
{% endif %}
{% if max_pages != 0 %}
{% if page != 1 and page != 0 %}
<p><a href="/search/{{page-1}}/{{search_text}}/{{sort_style}}/{{sort_asc}}">PREVIOUS</a>{% endif %} {% if page != max_pages %}<a href="/search/{{page+1}}/{{search_text}}/{{sort_style}}/{{sort_asc}}">NEXT</a>{% endif %}</p>
<p><form method="get" action="/number_search/{{search_text}}/{{sort_style}}/{{sort_asc}}" class="search_number"><input type="number" name="page_num" placeholder="{{page}}" min="1" max="{{max_pages}}"></form> / {{max_pages}}</p>
{% endif %}
{% endblock %}