{% extends "layout.html" %}
{% block content %}
<script>
    // https://stackoverflow.com/questions/23671407/restrict-future-dates-in-html5-date-input
    // Function from here :)
    $(function(){
    var dtToday = new Date();

    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();

    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;    
    $('#dob').attr('max', maxDate);
    });
</script>
<div class="text_center">
    <h3 class="same_line"><b>~*~&nbsp;</b></h3>
    <h1 class="same_line"><u>Sign up</u></h1>
    <h3 class="same_line"><b>&nbsp;~*~</b></h3>
    <h5>(No special characters / spaces in username)</h5>
</div>
<br>
{% with error_message = get_flashed_messages() %}
{% if error_message %}
<div class="text_center">
    <p>{{error_message[0]}}</p>
    <br>
</div>
{% endif %}
{% endwith %}
<form action="/signup_process" method="post">
    <div class="login_box">
        {{ form.username.label }}
        {{ form.username }}
        {{ form.password.label }}
        {{ form.password }}
        {{ form.confirm.label }}
        {{ form.confirm }}
        {{ form.dob}}
        <br>
        <br>
    </div>
    {{ form.submit.label }}
    {{ form.submit }}
</form>
{% endblock %}