{% extends "layout.html" %}
{% block content %}
<div class="text_center">
    <h3 class="same_line"><b>~*~&nbsp;</b></h3>
    <h1 class="same_line"><u>Login</u></h1>
    <h3 class="same_line"><b>&nbsp;~*~</b></h3>
    <h5>(No special characters / spaces in username)</h5>
</div>
<br>
{% with error_message = get_flashed_messages() %}
{% if error_message %}
<div class="text_center">
    <p>{{error_message[0]}}</p>
    <br>
</div>
{% endif %}
{% endwith %}
<form method="POST">
    <div class="login_box">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="log_title") }}
        {{ form.username(class="form_log") }}
        <br>
        <br>
        {{ form.password.label(class="log_title") }}
        {{ form.password(class="form_log")  }}
        <br>
        <br>
        {{ form.submit(class="log_sub")  }}
    </div>
</form>
{% endblock %}