{% extends "layout.html" %}
{% block content %}
<div class="search_div">
    <h2 class="game_shadow">Games</h2>
    <br>
</div>
{% with message = get_flashed_messages() %}
{% if message %}
<div class="search_div">
    <p><i>{{message[0]}}</i></p>
</div>
{% endif %}
{% endwith %}
<div class="search_div">
    <form method="POST">
        {{ page_form.hidden_tag() }}
        {{ page_form.csrf_token }}
        {{ page_form.genres }}
        {{ page_form.categories }}
        <div class="search_div">
            <p><b>PAGE</b> : <i>{{page}} / {{max_pages}}</i></p>
        </div>
        <div class="search_div">
            {{ page_form.page_num }}
        </div>
        <div class="search_div increase_padding">
            <input class="page_button" type="submit" name="page_change" value="Change page">
        </div>
    </form>
</div>
<div class="search_div">
    {% if game_info %}
    {% if page < max_pages %} <p><a href="/change_page/{{page + 1}}/0" class="game_link">NEXT</a></p> {% endif %}
    {% if page < max_pages and page > 1 %}<p class="next_prev">&nbsp;|&nbsp;</p>{% endif %}
    {% if page > 1 %} <p><a href="/change_page/{{page - 1}}/0" class="game_link">PREVIOUS</a></p> {% endif %}
    {% endif %}
</div>
<p></p>
<hr class="search_hr_mini">
{% if game_info %}
    <ul class="leftie">
    {% if current_user.is_authenticated %}
        {% for game in game_info %}
        <div>
            <li class="games">
                <h3><a href="/game/{{game[0]}}" class="game_link">{{game[1]}}</h3>
                <img src="{{game[2]}}" loading=lazy class="search_image"></a>
                <div>
                    <form method="POST" action="{{ url_for('favourite_game', game_id=game[0], link_id=0) }}">
                        <div class="search_div">
                            <button type="submit" class="{% if game[0] in fav_list %}fav_button_fav{% else%}fav_button{% endif %}">&heartsuit; - <b><i>{{game[1]}}</i></b></button>
                        </div>
                    </form>
                </div>
            </li>
        </div>
        {% endfor %}
    {% else %}
        {% for game in game_info %}
        <div class="search_game_div">
            <li class="games">
                <h3><a href="/game/{{game[0]}}" class="game_link">{{game[1]}}</h3>
                <img src="{{game[2]}}" loading=lazy class="search_image"></a>
            </li>
        </div>
        {% endfor %}
    {% endif %}
    </ul>
{% else %}
<p><b>No search results!</b> (Try searching for something else)</p>
{% endif %}
<hr class="search_hr_mini">
<div class="search_div">
    {% if game_info %}
    {% if page < max_pages %} <p><a href="/change_page/{{page + 1}}/0" class="game_link">NEXT</a></p> {% endif %}
    {% if page < max_pages and page > 1 %}<p class="next_prev">&nbsp;|&nbsp;</p>{% endif %}
    {% if page > 1 %} <p><a href="/change_page/{{page - 1}}/0" class="game_link">PREVIOUS</a></p> {% endif %}
    {% endif %}
</div>
<div class="search_div">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="search_div">
            <h3>Advanced Search</h3>
        </div>
        <div class="search_div">
            {{ form.sort_form.sort_style }}
            <p>&nbsp;</p>
            {{ form.sort_form.sort_asc }}
        </div>
        
        <br>
        <div class="search_div">
            {{ form.sort_form.search_query }}
        </div>
        
        <br>
        <br>
        <div class="search_div">
            {{ form.gen_form.genres(class="genre_grid") }}
        </div>
        <div class="search_div">
            {{ form.gen_form.categories(class="genre_grid") }}
        </div>
        <br>
        <div class="search_div">
            <input class="page_button" type="submit" name="combined" value="Search">
        </div>
    </form>
</div>
{% endblock %}